@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$borderColor: #C2C2C2;
$lightgrey: #F8F8F8;
$white: #ffffff;
$primaryColor: #1B8989;
$gold: #DBC483;
$textcolor: #4E4E4E;

.dark-grey {
    color: #333333;
}

body {
    font-family: 'Poppins', sans-serif;

    h2 {
        font-size: 22px !important;
        text-transform: uppercase;
        font-weight: 600;
    }
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: $lightgrey;
}

::-webkit-scrollbar-thumb {
    background: $primaryColor;
}

.banner {
    img {
        width: 100% !important;
        z-index: 1;
    }

    img.overlay-img {
        z-index: 2;
        position: absolute;
        left: 0%;
    }

    label {
        color: $white !important;
    }

    .banner-head {
        h1 {
            font-size: 64px !important;
            letter-spacing: 2px;
        }

        h1,
        h2 {
            color: $white;
            text-transform: uppercase;
        }

        h2 {
            font-size: 45px !important;
            font-weight: normal;
        }

        margin-bottom: 30px;
    }

    select,
    .multiSelectContainer,
    .searchWrapper {
        background-color: $white;
        height: 48px;
        border-radius: 5px;

        input {
            background-color: $white;
            height: 30px;
            border-radius: 5px;
        }
    }

    .position-absolute {
        padding: 35px;
        height: auto;
        min-height: 70px;
        width: 80%;
        z-index: 9;
        border-radius: 20px;

        .colored-row {
            padding: 15px 10px;

            .col-md-5,
            .col-md-2,
            .col {
                padding: 0 !important;
            }

            .col-md-2,
            .col {
                margin-left: 10px;
            }

            button {
                width: 48px;
                height: 48px;
                background-color: $primaryColor;
            }
        }

        .filter-first-row {
            button {
                background-color: transparent;
                color: $white;
                height: 37px;
                width: 60px;
                z-index: 9;
                border: 0 !important;
                text-transform: uppercase;

                &:hover,
                &:focus {
                    color: $primaryColor;
                    background-color: $white;
                    text-decoration: underline;
                    border: solid 0.5px $primaryColor;
                    border-radius: 25px;
                }
            }

            .active-btn {
                color: $primaryColor;
                background-color: $white;
                text-decoration: underline;
                border: solid 0.5px $primaryColor;
                border-radius: 25px;
            }
        }
    }
}

.navbar {
    .main-nav {
        padding-right: var(--bs-gutter-x, -0.25rem) !important;
        padding-left: var(--bs-gutter-x, -0.25rem) !important;

        .navbar-nav {
            li {
                a {
                    text-transform: uppercase;
                    font-size: 16px;
                    padding-right: 20px !important;
                    padding-left: 20px !important;
                    font-weight: 500;
                }

                .active {
                    color: $primaryColor !important;
                }

                button {
                    border-radius: 20px;
                    border: 1px solid $borderColor;
                    background: #FFF;
                    box-shadow: 0px 4px 4px 0px rgba(175, 166, 166, 0.25);
                    width: 85px;
                    height: 41px;
                    font-weight: 500;
                    height: 41px;
                    padding-bottom: 10px;

                    &:hover {
                        background: $primaryColor;
                        color: $white;
                    }
                }
            }
        }
    }
}

.carousel-section {
    h2 {
        text-transform: uppercase;
    }

    h6 {
        a {
            color: $primaryColor;
            text-decoration: none !important;
        }
    }

    // .broker-story {
    //     .owl-theme {
    //         .owl-item {
    //             min-width: 150px;

    //             img {
    //                 width: 130px !important;
    //                 margin: auto;
    //             }
    //         }
    //     }
    // }

    .damac,
    .secondary {
        .card {
            width: 100%;
            border-radius: 15PX;
            box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.25));
            margin-bottom: 20px;
            background-color: $lightgrey;

            img {
                width: 100%;
            }
        }
    }

    .damac {
        button {
            width: 100px;
            position: absolute;
            top: 22px;
            border-radius: 0 25px 25px 25px;
            border: 0px;
            background: $gold;
            color: $white;
            font-weight: 300;
            padding: 5px;
            font-size: 12px;
        }

        .card-text {
            font-size: 12px;
        }

        .d-flex {
            .card-text {
                text-transform: uppercase;
                margin-bottom: 0 !important;
            }
        }

        img {
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
        }
    }

    .secondary {
        .user-img {
            width: 60px !important;
        }

        .card-text {
            font-size: 12px;
            margin-top: 5px;
        }

        .card-body {
            .d-flex {
                p {
                    font-size: 12px;
                    margin-bottom: 0;
                    line-height: 2.3;
                }

                .bed,
                .area {
                    width: 23px;
                    height: 23px;
                }
            }

        }
    }

    .promotion {
        .card {
            position: relative;
            box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.25));
            margin-bottom: 15px;

            img {
                border-radius: 0.25rem;
            }

            .carousel-overlay {
                position: absolute;
                opacity: 0.9;
                width: 45%;
                height: 100%;
            }

            .card-body {
                z-index: 9;
                position: absolute;
                bottom: 10px;
                font-size: 16px;
                line-height: 1.2;
                left: 15px;

                button {
                    background: $gold;
                    color: $white;
                    border: 0;
                    font-size: 12px;
                    padding: 10px 20px;
                    height: 40px;
                    width: 100px;
                    margin-bottom: 50%;
                    border-top-right-radius: 10px;
                    border-bottom-left-radius: 10px;
                }
            }
        }

    }
}

.our-partners {
    .img-bg {
        background-color: #efefef;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        height: 100%;
        min-height: 120px;
        display: flex;

        img {
            width: 125px !important;
            display: block;
            margin: auto;
        }
    }

}

.testimonials {
    .card {
        border: 0 !important;
        text-align: center;
        color: $textcolor;
        max-width: 350px;
        display: block;
        margin-left: auto;
        margin-right: auto;

        .card-text {
            text-transform: uppercase;
            font-size: 14px;
            margin-top: 30px;
            color: #606060;
        }

        img {
            width: 115px;
            border: 4px solid $primaryColor;
            border-radius: 60px;
        }

        h5 {
            font-weight: 600;
        }
    }
}

.appdownloads {
    margin-top: 60px;

    .mobile-img {
        width: 100%;
        max-width: 400px;
        margin: auto;
        display: block;
    }

    p {
        text-transform: uppercase;
        font-size: 14px;
        margin-top: 30px;
        color: #606060;
    }

    .qr-img,
    .gplay-img,
    .appstore-img {
        display: block;
        margin: auto;
    }

    .qr-img {
        max-width: 200px;
    }

    .gplay-img,
    .appstore-img {
        max-width: 250px;
    }
}

.primary-text {
    color: $primaryColor;
}

.arrow-p {
    color: $primaryColor;
    margin-left: auto !important;
    margin-bottom: 0 !important;
    font-size: 16px !important;
}

.footer {
    font-size: 16px;
    margin-top: 5%;
    background-color: $lightgrey;
    padding: 35px 5px;

    h3 {
        font-weight: normal;
        margin-bottom: 50px;
    }

    ul {
        li {
            border: 0 !important;
            padding: 2px;
            background-color: $lightgrey;

            &:first-child {
                text-decoration: underline;
                text-decoration-color: $primaryColor;
                text-underline-position: under;
                margin-bottom: 15px;
            }

            button {
                border-radius: 3px;
                background: $borderColor;
            }
        }
    }
}

@media (max-width: 768px) {
    .broker-story {
        .owl-theme {
            .owl-item {

                img {
                    width: 130px !important;
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }
    }

    .carousel-section {
        .promotion {
            .card {
                .card-body {
                    bottom: -10px !important;
                    left: 0px !important;

                    button {
                        margin-bottom: 10% !important;
                    }
                }
            }
        }
    }

}

.login-type-modal {
    top: 25%;

    .modal-header,
    .modal-body,
    .modal-footer {
        border: 0 !important;
    }

    .modal-header {
        h5 {
            margin-left: auto;
            margin-right: auto;

            span {
                border-bottom: 2px solid $primaryColor;
                font-weight: bold;
            }
        }
    }

    .modal-content {
        border-radius: 5px;
        border: 0 !important;
        max-width: 330px;
        width: 100%;
        margin: auto;
        padding: 15px;
    }

    .modal-body {
        img {
            width: 55px;
        }

        button {
            width: 100%;
            border-radius: 30px;
            border: 1.5px solid #1B8989;
            color: #1B8989;
            margin-top: 20px !important;

            &:hover {
                background: $primaryColor;
                color: $white !important;
            }
        }
    }

    .modal-footer {
        font-size: 11px;
        text-align: center;

        .red-txt {
            color: #FF5151;
        }
    }

}

.main-login-modal {
    top: 25%;

    .modal-header,
    .modal-body,
    .modal-footer {
        border: 0 !important;
    }

    .modal-header {
        display: block;

        p {
            margin-bottom: 0 !important;
        }
    }

    .modal-content {
        border-radius: 5px;
        border: 0 !important;
        max-width: 330px;
        width: 100%;
        margin: auto;
        padding: 15px;
        font-size: 14px;
    }
    .modal-footer{
        display: block;
        button{
            width: 100%;
            background-color: #e5e5e5;
            box-shadow: 4px 4px 4px 0px rgba(118, 118, 118, 0.25);
            color: #7A7575;
            font-weight: 400;
        }
    }

    .modal-body {
        .input-boxes {
            .i-p {
                padding: 8px;
                border-right: 0 !important;
            }

            .d-flex {
                p {
                    margin-left: auto;
                    line-height: 2;
                }
            }

            .input-group-text {
                background-color: $white;
            }

            img {
                width: 13px;
            }
        }
    }
}

.sm-banner {
    .buy-sell {
        .btn {
            border: solid 1px $primaryColor;
            border-radius: 25px;
            height: 37px;
            width: 60px;
            z-index: 9;
            text-transform: uppercase;
        }

        .active-btn {
            color: $white;
            background-color: $primaryColor;
            text-decoration: underline;
        }
    }

    .form-check-label {
        color: $primaryColor !important;
    }

    .search-btn {
        background: $primaryColor;
        color: $white;
        height: 48px;

        img {
            width: 25px !important;
        }
    }
}